USE [master]
GO
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'Budgee')
BEGIN
	EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'Budgee'
	ALTER DATABASE [Budgee] SET  SINGLE_USER WITH ROLLBACK IMMEDIATE
	ALTER DATABASE [Budgee] SET  SINGLE_USER
	DROP DATABASE [Budgee]
END
GO