USE [Budgee]
GO
/****** Object:  Table [dbo].[Caracteristica]    Script Date: 14/7/2024 16:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caracteristica](
	[ID_Caracteristica] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Color] [varchar](50) NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Tipo_Caracteristica] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[ID_Caracteristica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion_Usuario]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion_Usuario](
	[ID_Configuracion_Usuario] [uniqueidentifier] NOT NULL,
	[Divisa_Default] [varchar](50) NULL,
	[Idioma] [varchar](50) NULL,
	[Mantener_Sesion_Iniciada] [bit] NOT NULL,
	[Alarmas_Windows] [bit] NOT NULL,
	[Notificaciones_Windows] [bit] NOT NULL,
	[Notificaciones_Presupuestos] [bit] NOT NULL,
	[Notificaciones_Recordatorios] [bit] NOT NULL,
	[Notificaciones_Estadisticas] [bit] NOT NULL,
	[Notificaciones_Expiran] [bit] NOT NULL,
	[Notificaciones_Expiran_Frecuencia] [varchar](50) NULL,
	[Notificaciones_Expiran_Valor] [int] NULL,
	[Respaldar] [bit] NOT NULL,
	[Limite_Respaldos] [bit] NOT NULL,
	[Respaldos_Cantidad_Maxima] [int] NULL,
	[ID_FrecuenciaInicio_Respaldos] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Configuracion_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Configuracion_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[ID_Cuenta] [uniqueidentifier] NOT NULL,
	[Nombre_Cuenta] [varchar](50) NULL,
	[Divisa] [varchar](50) NOT NULL,
	[Admite_Fondos_Negativos] [bit] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[ID_Cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expresion]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expresion](
	[ID_Expresion] [uniqueidentifier] NOT NULL,
	[Definicion] [varchar](500) NOT NULL,
	[Tipo_Expresion] [varchar](50) NOT NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Expresion_Cabecera] PRIMARY KEY CLUSTERED 
(
	[ID_Expresion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expresion_Variable]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expresion_Variable](
	[ID_Expresion] [uniqueidentifier] NOT NULL,
	[ID_Variable] [uniqueidentifier] NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Expresion_Variable] PRIMARY KEY CLUSTERED 
(
	[ID_Expresion] ASC,
	[ID_Variable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[ID_Familia] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Familia]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Familia](
	[ID_Familia_Padre] [uniqueidentifier] NOT NULL,
	[ID_Familia_Hija] [uniqueidentifier] NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Familia_Familia] PRIMARY KEY CLUSTERED 
(
	[ID_Familia_Padre] ASC,
	[ID_Familia_Hija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Patente]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Patente](
	[ID_Familia] [uniqueidentifier] NOT NULL,
	[ID_Patente] [uniqueidentifier] NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Familia_Patente] PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrecuenciaInicio]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrecuenciaInicio](
	[ID_FrecuenciaInicio] [uniqueidentifier] NOT NULL,
	[FrecuenciaMagnitud] [varchar](50) NULL,
	[FrecuenciaValor] [int] NULL,
	[Año] [int] NULL,
	[Mes] [int] NULL,
	[Dia_del_Mes] [varchar](50) NULL,
	[Dia_de_la_Semana] [varchar](50) NULL,
	[Horario] [time](7) NOT NULL,
	[Fecha_Ultimo_Proceso] [datetime] NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FrecuenciaInicio] PRIMARY KEY CLUSTERED 
(
	[ID_FrecuenciaInicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lapso]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lapso](
	[ID_Lapso] [uniqueidentifier] NOT NULL,
	[Tipo_Lapso] [varchar](100) NOT NULL,
	[Fecha_Desde] [datetime] NULL,
	[Fecha_Hasta] [datetime] NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Lapso] PRIMARY KEY CLUSTERED 
(
	[ID_Lapso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[ID_Notificacion] [uniqueidentifier] NOT NULL,
	[Informacion] [varchar](400) NULL,
	[Procedencia] [varchar](50) NOT NULL,
	[ID_Recordatorio] [uniqueidentifier] NULL,
	[ID_Presupuesto] [uniqueidentifier] NULL,
	[Tipo_Estadistica] [varchar](50) NULL,
	[Fecha_Emision] [datetime] NULL,
	[Visto] [bit] NOT NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Notificacion] PRIMARY KEY CLUSTERED 
(
	[ID_Notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[ID_Patente] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Definicion] [varchar](500) NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planificacion_Transaccion]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planificacion_Transaccion](
	[ID_Planificacion_Transaccion] [uniqueidentifier] NOT NULL,
	[Descripcion_Planificacion] [varchar](150) NULL,
	[Descripcion_Transaccion] [varchar](150) NULL,
	[ID_Categoria] [uniqueidentifier] NULL,
	[Tipo_Operacion] [varchar](50) NULL,
	[ID_Monto_Expresion] [uniqueidentifier] NOT NULL,
	[ID_FrecuenciaInicio] [uniqueidentifier] NOT NULL,
	[ID_RecordatorioLigado] [uniqueidentifier] NULL,
	[Quitar_Al_Concluir] [bit] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[ID_Cuenta] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Planificacion_Transaccion] PRIMARY KEY CLUSTERED 
(
	[ID_Planificacion_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanificacionTransaccion_Etiqueta]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanificacionTransaccion_Etiqueta](
	[ID_Planificacion_Transaccion] [uniqueidentifier] NOT NULL,
	[ID_Etiqueta] [uniqueidentifier] NOT NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_PlanificacionTransaccion_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[ID_Planificacion_Transaccion] ASC,
	[ID_Etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plantilla_Transaccion]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantilla_Transaccion](
	[ID_Plantilla_Transaccion] [uniqueidentifier] NOT NULL,
	[Descripcion_Plantilla] [varchar](150) NULL,
	[Descripcion_Transaccion] [varchar](150) NULL,
	[ID_Categoria] [uniqueidentifier] NULL,
	[Tipo_Operacion] [varchar](50) NULL,
	[ID_Monto_Expresion] [uniqueidentifier] NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Plantilla_Transaccion] PRIMARY KEY CLUSTERED 
(
	[ID_Plantilla_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantillaTransaccion_Etiqueta]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantillaTransaccion_Etiqueta](
	[ID_Plantilla_Transaccion] [uniqueidentifier] NOT NULL,
	[ID_Etiqueta] [uniqueidentifier] NOT NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_PlantillaTransaccion_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[ID_Plantilla_Transaccion] ASC,
	[ID_Etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuesto]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuesto](
	[ID_Presupuesto] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[Cuando_Chequear] [varchar](50) NOT NULL,
	[ID_Variable_Supervisada] [uniqueidentifier] NOT NULL,
	[Operador_Relacional] [varchar](50) NOT NULL,
	[ID_Condicion_Expresion] [uniqueidentifier] NOT NULL,
	[ID_Lapso_Frecuencia] [uniqueidentifier] NULL,
	[Establecer_Notif_Windows] [bit] NOT NULL,
	[Establecer_Alarma_Windows] [bit] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Presupuesto] PRIMARY KEY CLUSTERED 
(
	[ID_Presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recordatorio]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recordatorio](
	[ID_Recordatorio] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[ID_FrecuenciaInicio] [uniqueidentifier] NOT NULL,
	[Establecer_Notif_Windows] [bit] NOT NULL,
	[Establecer_Alarma_Windows] [bit] NOT NULL,
	[Quitar_Al_Concluir] [bit] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Recordatorio] PRIMARY KEY CLUSTERED 
(
	[ID_Recordatorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schema_History]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schema_History](
	[ID_Schema_History] [uniqueidentifier] NOT NULL,
	[Schema_Version] [varchar](100) NOT NULL,
	[Table_Name] [varchar](150) NOT NULL,
	[Column_Name] [varchar](150) NOT NULL,
	[Data_Type] [varchar](150) NOT NULL,
	[Is_Nullable] [bit] NOT NULL,
	[Default_Value] [varchar](max) NULL,
	[Created_At] [timestamp] NOT NULL,
 CONSTRAINT [PK_Schema_History] PRIMARY KEY CLUSTERED 
(
	[ID_Schema_History] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SesionTrack]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SesionTrack](
	[ID_SesionTrack] [uniqueidentifier] NOT NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Fecha_Proceso] [datetime] NOT NULL,
	[TipoTrack] [varchar](100) NULL,
	[TimeStamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_SesionTrack] PRIMARY KEY CLUSTERED 
(
	[ID_SesionTrack] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[ID_Transaccion] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](150) NULL,
	[ID_Categoria] [uniqueidentifier] NULL,
	[Tipo_Operacion] [varchar](50) NULL,
	[ID_Monto_Expresion] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime] NULL,
	[Concretada] [bit] NOT NULL,
	[ID_Cuenta] [uniqueidentifier] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Transaccion] PRIMARY KEY CLUSTERED 
(
	[ID_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion_Etiqueta]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion_Etiqueta](
	[ID_Transaccion] [uniqueidentifier] NOT NULL,
	[ID_Etiqueta] [uniqueidentifier] NOT NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_Transaccion_Etqieuta] PRIMARY KEY CLUSTERED 
(
	[ID_Transaccion] ASC,
	[ID_Etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Nombre_Usuario] [varchar](50) NULL,
	[Password_Usuario] [varchar](128) NULL,
	[Estado] [bit] NOT NULL,
	[timestamp] [timestamp] NULL,
	[ID_Configuracion_Usuario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Familia]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Familia](
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[ID_Familia] [uniqueidentifier] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Usuario_Familia] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Patente]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Patente](
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[ID_Patente] [uniqueidentifier] NOT NULL,
	[timestamp] [timestamp] NULL,
 CONSTRAINT [PK_Usuario_Patente] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variable]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variable](
	[ID_Variable] [uniqueidentifier] NOT NULL,
	[Nombre_Variable] [varchar](50) NULL,
	[Tipo_Variable] [varchar](50) NOT NULL,
	[ID_Categoria] [uniqueidentifier] NULL,
	[ID_Etiqueta] [uniqueidentifier] NULL,
	[ID_Cuenta] [uniqueidentifier] NULL,
	[ID_Transaccion] [uniqueidentifier] NULL,
	[ID_Planificacion_Transaccion] [uniqueidentifier] NULL,
	[ID_Plantilla_Transaccion] [uniqueidentifier] NULL,
	[ID_Lapso] [uniqueidentifier] NULL,
	[ID_Usuario] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Variable] PRIMARY KEY CLUSTERED 
(
	[ID_Variable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Caracteristica] ([ID_Caracteristica], [Nombre], [Color], [ID_Usuario], [Estado], [Tipo_Caracteristica]) VALUES (N'842cedb0-54f8-4f9a-80e9-00fa9dcf8877', N'Movimiento entre cuentas', N'#1A1A1A', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1, N'Categoria')
INSERT [dbo].[Caracteristica] ([ID_Caracteristica], [Nombre], [Color], [ID_Usuario], [Estado], [Tipo_Caracteristica]) VALUES (N'aadd5c69-dd23-4b53-b140-0132b6d5544b', N'Compras', N'#CE53E6', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1, N'Categoria')
INSERT [dbo].[Caracteristica] ([ID_Caracteristica], [Nombre], [Color], [ID_Usuario], [Estado], [Tipo_Caracteristica]) VALUES (N'36509148-3655-4ac1-bd50-2eaf95bf892d', N'Servicios', N'#2652C8', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1, N'Categoria')
GO
INSERT [dbo].[Configuracion_Usuario] ([ID_Configuracion_Usuario], [Divisa_Default], [Idioma], [Mantener_Sesion_Iniciada], [Alarmas_Windows], [Notificaciones_Windows], [Notificaciones_Presupuestos], [Notificaciones_Recordatorios], [Notificaciones_Estadisticas], [Notificaciones_Expiran], [Notificaciones_Expiran_Frecuencia], [Notificaciones_Expiran_Valor], [Respaldar], [Limite_Respaldos], [Respaldos_Cantidad_Maxima], [ID_FrecuenciaInicio_Respaldos]) VALUES (N'8f069a01-efd6-45ae-a093-a5214582a033', NULL, NULL, 1, 1, 1, 1, 1, 1, 1, NULL, NULL, 0, 0, NULL, NULL)
GO
INSERT [dbo].[Cuenta] ([ID_Cuenta], [Nombre_Cuenta], [Divisa], [Admite_Fondos_Negativos], [Habilitado], [Estado], [ID_Usuario]) VALUES (N'fe30615f-479f-43c7-be1e-273b91d927b2', N'BBVA Exterior', N'USD', 1, 1, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
INSERT [dbo].[Cuenta] ([ID_Cuenta], [Nombre_Cuenta], [Divisa], [Admite_Fondos_Negativos], [Habilitado], [Estado], [ID_Usuario]) VALUES (N'36a8535a-a6c2-47c5-b475-53596d4409a6', N'Cuenta Admin 2', N'BTC', 1, 1, 1, N'80f0b743-a8d1-4b15-ab46-8fff7d655541')
INSERT [dbo].[Cuenta] ([ID_Cuenta], [Nombre_Cuenta], [Divisa], [Admite_Fondos_Negativos], [Habilitado], [Estado], [ID_Usuario]) VALUES (N'a9f77c0f-961d-4aee-a14a-5e9d3332778c', N'Billetera', N'ARS', 0, 1, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
GO
INSERT [dbo].[Expresion] ([ID_Expresion], [Definicion], [Tipo_Expresion], [ID_Usuario]) VALUES (N'0ff7e390-e277-4ebd-ab08-0b794abacdee', N'5000', N'Fija', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
INSERT [dbo].[Expresion] ([ID_Expresion], [Definicion], [Tipo_Expresion], [ID_Usuario]) VALUES (N'cd739507-7413-4faf-8ae7-0d8ff4fb4af8', N'777', N'Fija', N'01f61340-77fa-477c-85d7-3f9f0414ee68')
INSERT [dbo].[Expresion] ([ID_Expresion], [Definicion], [Tipo_Expresion], [ID_Usuario]) VALUES (N'57127dd5-c77f-4b3c-a75d-1b04d7b61f4a', N'28800', N'Fija', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
GO
INSERT [dbo].[Expresion_Variable] ([ID_Expresion], [ID_Variable]) VALUES (N'362d386b-ae7e-4a61-9b8b-8b8bd35da3bd', N'aad0fa76-987a-4d3a-8730-10e9b631726b')
GO
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (N'a644d16c-4da2-4202-98ca-7f15ee7e80db', N'Familia Prueba 3')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (N'c7686cef-a6ce-44c1-aa2e-7fdc3c5fe457', N'Familia Prueba 2')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre]) VALUES (N'cee5fb95-b43d-404e-b4b1-ca83b5bb907b', N'Familia Prueba 1')
GO
INSERT [dbo].[Familia_Familia] ([ID_Familia_Padre], [ID_Familia_Hija]) VALUES (N'cee5fb95-b43d-404e-b4b1-ca83b5bb907b', N'a644d16c-4da2-4202-98ca-7f15ee7e80db')
INSERT [dbo].[Familia_Familia] ([ID_Familia_Padre], [ID_Familia_Hija]) VALUES (N'cee5fb95-b43d-404e-b4b1-ca83b5bb907b', N'c7686cef-a6ce-44c1-aa2e-7fdc3c5fe457')
GO
INSERT [dbo].[Familia_Patente] ([ID_Familia], [ID_Patente]) VALUES (N'68b0b044-2d1c-4e8f-9d16-ee8f52d555e9', N'4d492c82-29f2-4c56-931c-c25d0f61e5f9')
GO
INSERT [dbo].[FrecuenciaInicio] ([ID_FrecuenciaInicio], [FrecuenciaMagnitud], [FrecuenciaValor], [Año], [Mes], [Dia_del_Mes], [Dia_de_la_Semana], [Horario], [Fecha_Ultimo_Proceso], [ID_Usuario]) VALUES (N'ea221a54-d676-431f-a275-0fa6c710880c', N'Semanas', 2, NULL, NULL, NULL, N'Lunes', CAST(N'15:00:00' AS Time), CAST(N'2024-07-06T21:59:57.400' AS DateTime), N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
INSERT [dbo].[FrecuenciaInicio] ([ID_FrecuenciaInicio], [FrecuenciaMagnitud], [FrecuenciaValor], [Año], [Mes], [Dia_del_Mes], [Dia_de_la_Semana], [Horario], [Fecha_Ultimo_Proceso], [ID_Usuario]) VALUES (N'4f3673d6-62fd-4d86-993a-10f58411ec8d', N'Meses', 1, NULL, NULL, N'Uno', NULL, CAST(N'12:30:00' AS Time), CAST(N'2024-07-06T21:59:59.577' AS DateTime), N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
INSERT [dbo].[FrecuenciaInicio] ([ID_FrecuenciaInicio], [FrecuenciaMagnitud], [FrecuenciaValor], [Año], [Mes], [Dia_del_Mes], [Dia_de_la_Semana], [Horario], [Fecha_Ultimo_Proceso], [ID_Usuario]) VALUES (N'b89a077f-6c7e-4c70-83ca-12f676633da7', N'Meses', 1, NULL, NULL, N'Tres', NULL, CAST(N'12:30:00' AS Time), NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
GO
INSERT [dbo].[Lapso] ([ID_Lapso], [Tipo_Lapso], [Fecha_Desde], [Fecha_Hasta], [ID_Usuario]) VALUES (N'b4077467-5c2f-46af-8a6b-21ee718af3cc', N'Este_Año', NULL, NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
INSERT [dbo].[Lapso] ([ID_Lapso], [Tipo_Lapso], [Fecha_Desde], [Fecha_Hasta], [ID_Usuario]) VALUES (N'68a20060-cf18-490a-accd-36980238951c', N'Este_Año', NULL, NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
INSERT [dbo].[Lapso] ([ID_Lapso], [Tipo_Lapso], [Fecha_Desde], [Fecha_Hasta], [ID_Usuario]) VALUES (N'11b6f133-15fc-4a5e-82de-4474a47f0d31', N'Este_Mes', NULL, NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8')
GO
INSERT [dbo].[Notificacion] ([ID_Notificacion], [Informacion], [Procedencia], [ID_Recordatorio], [ID_Presupuesto], [Tipo_Estadistica], [Fecha_Emision], [Visto], [ID_Usuario], [Estado]) VALUES (N'ed24807d-301d-487c-934d-0f991c42d754', N'Budget exceeded - Supervision de viatico empresarial', N'Presupuesto', NULL, N'6027f331-e210-47e2-9015-94611c8824c6', NULL, CAST(N'2022-01-14T11:33:24.707' AS DateTime), 0, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 0)
INSERT [dbo].[Notificacion] ([ID_Notificacion], [Informacion], [Procedencia], [ID_Recordatorio], [ID_Presupuesto], [Tipo_Estadistica], [Fecha_Emision], [Visto], [ID_Usuario], [Estado]) VALUES (N'80eabe4b-913f-4ca0-8787-111e9fd0a9c7', N'Salario Disponible', N'Recordatorio', N'c7ef107a-428c-420c-bc16-e6686fa46de5', NULL, NULL, CAST(N'2021-12-01T12:30:00.000' AS DateTime), 0, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 0)
INSERT [dbo].[Notificacion] ([ID_Notificacion], [Informacion], [Procedencia], [ID_Recordatorio], [ID_Presupuesto], [Tipo_Estadistica], [Fecha_Emision], [Visto], [ID_Usuario], [Estado]) VALUES (N'5929d6e7-b2e6-4ec1-8d9c-182d1d66c63c', N'Notif de testeo', N'Estadistica', NULL, NULL, N'Overview', CAST(N'2021-11-30T00:00:00.000' AS DateTime), 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 0)
GO
INSERT [dbo].[Patente] ([ID_Patente], [Nombre], [Definicion]) VALUES (N'2389322a-9ec2-4466-b0c1-1f8a51b392aa', N'Patente Prueba 2', N'probando patentes 2')
INSERT [dbo].[Patente] ([ID_Patente], [Nombre], [Definicion]) VALUES (N'd3e7d109-34b4-4f1d-afde-27df47f7224a', N'Patente Prueba 1', N'probando patentes')
INSERT [dbo].[Patente] ([ID_Patente], [Nombre], [Definicion]) VALUES (N'4d492c82-29f2-4c56-931c-c25d0f61e5f9', N'Permisos de Administrador', N'Acceso a roles del administrador')
GO
INSERT [dbo].[Planificacion_Transaccion] ([ID_Planificacion_Transaccion], [Descripcion_Planificacion], [Descripcion_Transaccion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [ID_FrecuenciaInicio], [ID_RecordatorioLigado], [Quitar_Al_Concluir], [Habilitado], [ID_Cuenta], [Estado]) VALUES (N'0dfc1d78-1522-4300-8f05-25ba36ef4b1a', N'Mi Salario 2', N'Mi Salario 2', N'dc21e438-d4c7-4c9f-a43a-94eb7df433d0', N'Ingreso', N'44a2deec-7449-4a1f-9abc-3263619c8d95', N'8a08891a-0e05-4a14-b243-75fad8f5ca7c', NULL, 0, 1, N'a9f77c0f-961d-4aee-a14a-5e9d3332778c', 1)
INSERT [dbo].[Planificacion_Transaccion] ([ID_Planificacion_Transaccion], [Descripcion_Planificacion], [Descripcion_Transaccion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [ID_FrecuenciaInicio], [ID_RecordatorioLigado], [Quitar_Al_Concluir], [Habilitado], [ID_Cuenta], [Estado]) VALUES (N'cb0b3451-683a-4099-a717-3b08daf5f5b8', N'Mi Salario', N'Mi Salario', N'dc21e438-d4c7-4c9f-a43a-94eb7df433d0', N'Ingreso', N'f5c9ae6d-9cb7-4220-91a5-e15ddfff4934', N'b89a077f-6c7e-4c70-83ca-12f676633da7', N'c7ef107a-428c-420c-bc16-e6686fa46de5', 0, 0, N'50f0da04-431b-45bf-8e9a-ba86b2da8295', 1)
INSERT [dbo].[Planificacion_Transaccion] ([ID_Planificacion_Transaccion], [Descripcion_Planificacion], [Descripcion_Transaccion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [ID_FrecuenciaInicio], [ID_RecordatorioLigado], [Quitar_Al_Concluir], [Habilitado], [ID_Cuenta], [Estado]) VALUES (N'f8ee4d41-e35e-404e-a322-93c93cdcdf60', N'Planif Testeo Async', N'Transac Testeo Async', NULL, N'Ingreso', N'cd739507-7413-4faf-8ae7-0d8ff4fb4af8', N'0bec948d-f631-42fb-8c7f-6d1bb37b2b3e', NULL, 0, 0, N'237eeaa9-11d6-4a1d-85b2-71da708c6221', 1)
GO
INSERT [dbo].[PlanificacionTransaccion_Etiqueta] ([ID_Planificacion_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'ea86c457-005a-40c0-9610-9de46922fcb3', N'e947ff16-1c97-4ab4-8df8-728900414e20', NULL)
INSERT [dbo].[PlanificacionTransaccion_Etiqueta] ([ID_Planificacion_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'ea86c457-005a-40c0-9610-9de46922fcb3', N'1bff59e3-1c34-4d4b-880d-cd17324c5cdc', NULL)
GO
INSERT [dbo].[Plantilla_Transaccion] ([ID_Plantilla_Transaccion], [Descripcion_Plantilla], [Descripcion_Transaccion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [ID_Usuario], [Estado]) VALUES (N'8166ae6e-34c4-46fd-b2d4-7d41fdef0c00', N'Inversiones Mercado Pago', N'Inversiones Mercado Pago', N'c7066344-dc69-4f09-b27d-eb2b5b33d2b4', N'Ingreso', NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
INSERT [dbo].[Plantilla_Transaccion] ([ID_Plantilla_Transaccion], [Descripcion_Plantilla], [Descripcion_Transaccion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [ID_Usuario], [Estado]) VALUES (N'fb4d5637-6aa3-4f81-b445-7ef2e3500bd1', N'Plantilla Testeo Async', N'Planif Testeo Async', NULL, N'Ingreso', N'922b1bdf-5456-4852-a754-cc70a3400b3a', N'01f61340-77fa-477c-85d7-3f9f0414ee68', 1)
INSERT [dbo].[Plantilla_Transaccion] ([ID_Plantilla_Transaccion], [Descripcion_Plantilla], [Descripcion_Transaccion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [ID_Usuario], [Estado]) VALUES (N'9d21854d-e08a-4982-8b28-8a7ad5aaaa54', N'Plazo Fijo BBVA', N'Plazo Fijo BBVA', N'c7066344-dc69-4f09-b27d-eb2b5b33d2b4', N'Ingreso', NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
GO
INSERT [dbo].[PlantillaTransaccion_Etiqueta] ([ID_Plantilla_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'8166ae6e-34c4-46fd-b2d4-7d41fdef0c00', N'58ffbaa9-692e-49f0-88b5-a3477316ff2b', NULL)
INSERT [dbo].[PlantillaTransaccion_Etiqueta] ([ID_Plantilla_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'9d21854d-e08a-4982-8b28-8a7ad5aaaa54', N'58ffbaa9-692e-49f0-88b5-a3477316ff2b', NULL)
INSERT [dbo].[PlantillaTransaccion_Etiqueta] ([ID_Plantilla_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'a75a3fe6-eaec-4779-b082-bfee10b41199', N'6cb2e432-2f79-4627-aeed-5243b9abc45e', NULL)
GO
INSERT [dbo].[Presupuesto] ([ID_Presupuesto], [Descripcion], [Cuando_Chequear], [ID_Variable_Supervisada], [Operador_Relacional], [ID_Condicion_Expresion], [ID_Lapso_Frecuencia], [Establecer_Notif_Windows], [Establecer_Alarma_Windows], [Habilitado], [ID_Usuario], [Estado]) VALUES (N'9dd9d466-49ac-458e-8eb5-1c495b82c2e1', N'Endeudado heavy', N'Constantemente', N'141eb294-8bf3-4aed-b647-902851f0cca4', N'Menor_a', N'142fd618-451e-4700-afb4-8efa143f64d9', NULL, 1, 1, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
INSERT [dbo].[Presupuesto] ([ID_Presupuesto], [Descripcion], [Cuando_Chequear], [ID_Variable_Supervisada], [Operador_Relacional], [ID_Condicion_Expresion], [ID_Lapso_Frecuencia], [Establecer_Notif_Windows], [Establecer_Alarma_Windows], [Habilitado], [ID_Usuario], [Estado]) VALUES (N'd885d64d-0a46-4b2f-9534-53dd54df61bc', N'Presupuesto vacaciones', N'Al_Final', N'938b4323-1fae-4e4a-89e3-4c64c4749a04', N'Mayor_a', N'b4dba864-3661-4738-9485-9250598aacab', N'ea221a54-d676-431f-a275-0fa6c710880c', 1, 0, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
INSERT [dbo].[Presupuesto] ([ID_Presupuesto], [Descripcion], [Cuando_Chequear], [ID_Variable_Supervisada], [Operador_Relacional], [ID_Condicion_Expresion], [ID_Lapso_Frecuencia], [Establecer_Notif_Windows], [Establecer_Alarma_Windows], [Habilitado], [ID_Usuario], [Estado]) VALUES (N'5b0d9df1-8b8a-4a6f-83e2-6f26f7cc9659', N'No hay $$ para salidas D:', N'Al_Final', N'96da707f-9cea-48f8-a9c4-a55e0f90f443', N'Menor_a', N'358452e9-f3bc-40ae-88ec-a910b81c82c8', N'293176a7-b550-4f98-8f01-7758b7d8e2df', 1, 0, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
GO
INSERT [dbo].[Recordatorio] ([ID_Recordatorio], [Descripcion], [ID_FrecuenciaInicio], [Establecer_Notif_Windows], [Establecer_Alarma_Windows], [Quitar_Al_Concluir], [Habilitado], [ID_Usuario], [Estado]) VALUES (N'd7f1fe6d-0156-4143-a767-85eb7d96f0ec', N'Recordatorio Testeo Async', N'4affc23d-17bd-4d65-86ac-c7c505d81aaa', 0, 0, 0, 1, N'01f61340-77fa-477c-85d7-3f9f0414ee68', 1)
INSERT [dbo].[Recordatorio] ([ID_Recordatorio], [Descripcion], [ID_FrecuenciaInicio], [Establecer_Notif_Windows], [Establecer_Alarma_Windows], [Quitar_Al_Concluir], [Habilitado], [ID_Usuario], [Estado]) VALUES (N'c7ef107a-428c-420c-bc16-e6686fa46de5', N'Salario Disponible', N'b89a077f-6c7e-4c70-83ca-12f676633da7', 1, 0, 0, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
INSERT [dbo].[Recordatorio] ([ID_Recordatorio], [Descripcion], [ID_FrecuenciaInicio], [Establecer_Notif_Windows], [Establecer_Alarma_Windows], [Quitar_Al_Concluir], [Habilitado], [ID_Usuario], [Estado]) VALUES (N'56b292b0-74f2-4e85-ac76-e80b95ce7606', N'Se acercan los examenes', N'aea68e9b-7e69-466d-8a63-271a0aeb3067', 1, 0, 1, 1, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', 1)
GO
INSERT [dbo].[SesionTrack] ([ID_SesionTrack], [ID_Usuario], [Fecha_Proceso], [TipoTrack]) VALUES (N'e7238446-73ee-4d6f-84aa-0b5a2cc7c188', N'80f0b743-a8d1-4b15-ab46-8fff7d655541', CAST(N'2024-01-04T20:28:38.493' AS DateTime), N'Inicio_Sesion')
INSERT [dbo].[SesionTrack] ([ID_SesionTrack], [ID_Usuario], [Fecha_Proceso], [TipoTrack]) VALUES (N'6d136004-9fc8-4145-bca5-1294e13221d4', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', CAST(N'2024-07-06T22:18:33.167' AS DateTime), N'Cierre_Sesion')
INSERT [dbo].[SesionTrack] ([ID_SesionTrack], [ID_Usuario], [Fecha_Proceso], [TipoTrack]) VALUES (N'8c47fc67-7abf-4a2f-9726-28a34f936998', N'80f0b743-a8d1-4b15-ab46-8fff7d655541', CAST(N'2023-09-20T23:00:57.100' AS DateTime), N'Cierre_Sesion')
GO
INSERT [dbo].[Transaccion] ([ID_Transaccion], [Descripcion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [Fecha], [Concretada], [ID_Cuenta], [Estado]) VALUES (N'1903fa71-0020-441e-84c4-08d484759aaa', N'Vacaciones Sur', NULL, N'Egreso', N'fb18db68-2e4c-43dd-9a3f-cea8868c6e3e', CAST(N'2021-11-30T00:00:00.000' AS DateTime), 1, N'50f0da04-431b-45bf-8e9a-ba86b2da8295', 1)
INSERT [dbo].[Transaccion] ([ID_Transaccion], [Descripcion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [Fecha], [Concretada], [ID_Cuenta], [Estado]) VALUES (N'e26197fe-a16b-4afb-9af1-0eee11640d66', N'Spotify Cuota', N'36509148-3655-4ac1-bd50-2eaf95bf892d', N'Egreso', N'ea90f5fe-556e-42d7-a058-ee81df037cd9', CAST(N'2024-07-06T21:59:51.623' AS DateTime), 0, N'a9f77c0f-961d-4aee-a14a-5e9d3332778c', 1)
INSERT [dbo].[Transaccion] ([ID_Transaccion], [Descripcion], [ID_Categoria], [Tipo_Operacion], [ID_Monto_Expresion], [Fecha], [Concretada], [ID_Cuenta], [Estado]) VALUES (N'92616cee-4f42-407f-bd6f-11e554b8ca32', N'Impuesto Agua, Luz, Gas', N'4537e057-8aa5-4362-a6d4-80a367696874', N'Egreso', N'0ff7e390-e277-4ebd-ab08-0b794abacdee', CAST(N'2024-07-06T21:59:46.213' AS DateTime), 0, N'a9f77c0f-961d-4aee-a14a-5e9d3332778c', 1)
GO
INSERT [dbo].[Transaccion_Etiqueta] ([ID_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'1903fa71-0020-441e-84c4-08d484759aaa', N'b16ebb38-24a4-4eef-95f3-72294fe9a89f', 0)
INSERT [dbo].[Transaccion_Etiqueta] ([ID_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'1903fa71-0020-441e-84c4-08d484759aaa', N'1bff59e3-1c34-4d4b-880d-cd17324c5cdc', 0)
INSERT [dbo].[Transaccion_Etiqueta] ([ID_Transaccion], [ID_Etiqueta], [Orden]) VALUES (N'e26197fe-a16b-4afb-9af1-0eee11640d66', N'e947ff16-1c97-4ab4-8df8-728900414e20', 0)
GO
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre_Usuario], [Password_Usuario], [Estado], [ID_Configuracion_Usuario]) VALUES (N'01f61340-77fa-477c-85d7-3f9f0414ee68', N'testeo tasks', N'321', 1, N'98dcd43e-c093-413f-981f-c3830f0ffb59')
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre_Usuario], [Password_Usuario], [Estado], [ID_Configuracion_Usuario]) VALUES (N'46ee1ac5-7e24-4e38-8183-7babc297deab', N'ezequiel', N'contraseña', 1, N'8f069a01-efd6-45ae-a093-a5214582a033')
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre_Usuario], [Password_Usuario], [Estado], [ID_Configuracion_Usuario]) VALUES (N'80f0b743-a8d1-4b15-ab46-8fff7d655541', N'admin', N'123', 1, N'3f83c16a-9a6b-408b-bca0-f0c46d250b14')
GO
INSERT [dbo].[Usuario_Familia] ([ID_Usuario], [ID_Familia]) VALUES (N'80f0b743-a8d1-4b15-ab46-8fff7d655541', N'68b0b044-2d1c-4e8f-9d16-ee8f52d555e9')
INSERT [dbo].[Usuario_Familia] ([ID_Usuario], [ID_Familia]) VALUES (N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', N'68b0b044-2d1c-4e8f-9d16-ee8f52d555e9')
GO
INSERT [dbo].[Variable] ([ID_Variable], [Nombre_Variable], [Tipo_Variable], [ID_Categoria], [ID_Etiqueta], [ID_Cuenta], [ID_Transaccion], [ID_Planificacion_Transaccion], [ID_Plantilla_Transaccion], [ID_Lapso], [ID_Usuario], [Fecha]) VALUES (N'aad0fa76-987a-4d3a-8730-10e9b631726b', N'balance_exterior', N'Balance', NULL, NULL, N'fe30615f-479f-43c7-be1e-273b91d927b2', NULL, NULL, NULL, NULL, N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', NULL)
INSERT [dbo].[Variable] ([ID_Variable], [Nombre_Variable], [Tipo_Variable], [ID_Categoria], [ID_Etiqueta], [ID_Cuenta], [ID_Transaccion], [ID_Planificacion_Transaccion], [ID_Plantilla_Transaccion], [ID_Lapso], [ID_Usuario], [Fecha]) VALUES (N'938b4323-1fae-4e4a-89e3-4c64c4749a04', N'', N'Egreso', NULL, N'b16ebb38-24a4-4eef-95f3-72294fe9a89f', NULL, NULL, NULL, NULL, N'e9036b09-3b6a-4577-9621-53eb83e95661', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', NULL)
INSERT [dbo].[Variable] ([ID_Variable], [Nombre_Variable], [Tipo_Variable], [ID_Categoria], [ID_Etiqueta], [ID_Cuenta], [ID_Transaccion], [ID_Planificacion_Transaccion], [ID_Plantilla_Transaccion], [ID_Lapso], [ID_Usuario], [Fecha]) VALUES (N'f387556b-14a7-4996-9f0f-5bd8480cafad', N'gastos transporte', N'Egreso', NULL, N'6cb2e432-2f79-4627-aeed-5243b9abc45e', NULL, NULL, NULL, NULL, N'11b6f133-15fc-4a5e-82de-4474a47f0d31', N'40c2462b-be8b-429a-8b0e-a5a2381e6cc8', NULL)
GO
ALTER TABLE [dbo].[Caracteristica] ADD  CONSTRAINT [DF_Etiqueta_ID_Etiqueta]  DEFAULT (newid()) FOR [ID_Caracteristica]
GO
ALTER TABLE [dbo].[Configuracion_Usuario] ADD  CONSTRAINT [DF_Configuracion_Usuario_ID_Configuracion_Usuario]  DEFAULT (newid()) FOR [ID_Configuracion_Usuario]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_ID_Cuenta]  DEFAULT (newid()) FOR [ID_Cuenta]
GO
ALTER TABLE [dbo].[Expresion] ADD  CONSTRAINT [DF_Expresion_Cabecera_ID_Expresion_Cabecera]  DEFAULT (newid()) FOR [ID_Expresion]
GO
ALTER TABLE [dbo].[Familia] ADD  CONSTRAINT [DF_Familia_ID_Familia]  DEFAULT (newid()) FOR [ID_Familia]
GO
ALTER TABLE [dbo].[FrecuenciaInicio] ADD  CONSTRAINT [DF_FrecuenciaInicio_ID_FrecuenciaInicio]  DEFAULT (newid()) FOR [ID_FrecuenciaInicio]
GO
ALTER TABLE [dbo].[Lapso] ADD  CONSTRAINT [DF_Lapso_ID_Lapso]  DEFAULT (newid()) FOR [ID_Lapso]
GO
ALTER TABLE [dbo].[Notificacion] ADD  CONSTRAINT [DF_Notificacion_ID_Notificacion]  DEFAULT (newid()) FOR [ID_Notificacion]
GO
ALTER TABLE [dbo].[Patente] ADD  CONSTRAINT [DF_Patente_ID_Patente]  DEFAULT (newid()) FOR [ID_Patente]
GO
ALTER TABLE [dbo].[Planificacion_Transaccion] ADD  CONSTRAINT [DF_Planificacion_Transaccion_ID_Planificacion_Transaccion]  DEFAULT (newid()) FOR [ID_Planificacion_Transaccion]
GO
ALTER TABLE [dbo].[Plantilla_Transaccion] ADD  CONSTRAINT [DF_Plantilla_Transaccion_ID_Plantilla_Transaccion]  DEFAULT (newid()) FOR [ID_Plantilla_Transaccion]
GO
ALTER TABLE [dbo].[Presupuesto] ADD  CONSTRAINT [DF_Presupuesto_ID_Presupuesto]  DEFAULT (newid()) FOR [ID_Presupuesto]
GO
ALTER TABLE [dbo].[Recordatorio] ADD  CONSTRAINT [DF_Recordatorio_ID_Recordatorio]  DEFAULT (newid()) FOR [ID_Recordatorio]
GO
ALTER TABLE [dbo].[Schema_History] ADD  CONSTRAINT [DF_Table_1_ID_SchemaHistory]  DEFAULT (newid()) FOR [ID_Schema_History]
GO
ALTER TABLE [dbo].[SesionTrack] ADD  CONSTRAINT [DF_SesionTrack_ID_SesionTrack]  DEFAULT (newid()) FOR [ID_SesionTrack]
GO
ALTER TABLE [dbo].[Transaccion] ADD  CONSTRAINT [DF_Transaccion_ID_Transaccion]  DEFAULT (newid()) FOR [ID_Transaccion]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_ID_Usuario]  DEFAULT (newid()) FOR [ID_Usuario]
GO
ALTER TABLE [dbo].[Variable] ADD  CONSTRAINT [DF_Variable_ID_Variable]  DEFAULT (newid()) FOR [ID_Variable]
GO
ALTER TABLE [dbo].[Caracteristica]  WITH CHECK ADD  CONSTRAINT [FK_Etiqueta_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Caracteristica] CHECK CONSTRAINT [FK_Etiqueta_Usuario]
GO
ALTER TABLE [dbo].[Configuracion_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Configuracion_Usuario_FrecuenciaInicio] FOREIGN KEY([ID_FrecuenciaInicio_Respaldos])
REFERENCES [dbo].[FrecuenciaInicio] ([ID_FrecuenciaInicio])
GO
ALTER TABLE [dbo].[Configuracion_Usuario] CHECK CONSTRAINT [FK_Configuracion_Usuario_FrecuenciaInicio]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Usuario]
GO
ALTER TABLE [dbo].[Expresion]  WITH CHECK ADD  CONSTRAINT [FK_Expresion_Cabecera_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Expresion] CHECK CONSTRAINT [FK_Expresion_Cabecera_Usuario]
GO
ALTER TABLE [dbo].[Expresion_Variable]  WITH CHECK ADD  CONSTRAINT [FK_Expresion_Variable_Expresion] FOREIGN KEY([ID_Expresion])
REFERENCES [dbo].[Expresion] ([ID_Expresion])
GO
ALTER TABLE [dbo].[Expresion_Variable] CHECK CONSTRAINT [FK_Expresion_Variable_Expresion]
GO
ALTER TABLE [dbo].[Expresion_Variable]  WITH CHECK ADD  CONSTRAINT [FK_Expresion_Variable_Variable] FOREIGN KEY([ID_Variable])
REFERENCES [dbo].[Variable] ([ID_Variable])
GO
ALTER TABLE [dbo].[Expresion_Variable] CHECK CONSTRAINT [FK_Expresion_Variable_Variable]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Familia_Familia] FOREIGN KEY([ID_Familia_Padre])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Familia] CHECK CONSTRAINT [FK_Familia_Familia_Familia]
GO
ALTER TABLE [dbo].[Familia_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Familia_Familia1] FOREIGN KEY([ID_Familia_Hija])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Familia] CHECK CONSTRAINT [FK_Familia_Familia_Familia1]
GO
ALTER TABLE [dbo].[Familia_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Patente_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Patente] CHECK CONSTRAINT [FK_Familia_Patente_Familia]
GO
ALTER TABLE [dbo].[Familia_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Patente_Patente] FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente] ([ID_Patente])
GO
ALTER TABLE [dbo].[Familia_Patente] CHECK CONSTRAINT [FK_Familia_Patente_Patente]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Presupuesto] FOREIGN KEY([ID_Presupuesto])
REFERENCES [dbo].[Presupuesto] ([ID_Presupuesto])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Presupuesto]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Recordatorio] FOREIGN KEY([ID_Recordatorio])
REFERENCES [dbo].[Recordatorio] ([ID_Recordatorio])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Recordatorio]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Planificacion_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Planificacion_Transaccion_Caracteristica] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[Planificacion_Transaccion] CHECK CONSTRAINT [FK_Planificacion_Transaccion_Caracteristica]
GO
ALTER TABLE [dbo].[Planificacion_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Planificacion_Transaccion_Cuenta] FOREIGN KEY([ID_Cuenta])
REFERENCES [dbo].[Cuenta] ([ID_Cuenta])
GO
ALTER TABLE [dbo].[Planificacion_Transaccion] CHECK CONSTRAINT [FK_Planificacion_Transaccion_Cuenta]
GO
ALTER TABLE [dbo].[Planificacion_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Planificacion_Transaccion_Expresion_Cabecera] FOREIGN KEY([ID_Monto_Expresion])
REFERENCES [dbo].[Expresion] ([ID_Expresion])
GO
ALTER TABLE [dbo].[Planificacion_Transaccion] CHECK CONSTRAINT [FK_Planificacion_Transaccion_Expresion_Cabecera]
GO
ALTER TABLE [dbo].[Planificacion_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Planificacion_Transaccion_Recordatorio] FOREIGN KEY([ID_RecordatorioLigado])
REFERENCES [dbo].[Recordatorio] ([ID_Recordatorio])
GO
ALTER TABLE [dbo].[Planificacion_Transaccion] CHECK CONSTRAINT [FK_Planificacion_Transaccion_Recordatorio]
GO
ALTER TABLE [dbo].[PlanificacionTransaccion_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK_PlanificacionTransaccion_Etiqueta_Etiqueta] FOREIGN KEY([ID_Etiqueta])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[PlanificacionTransaccion_Etiqueta] CHECK CONSTRAINT [FK_PlanificacionTransaccion_Etiqueta_Etiqueta]
GO
ALTER TABLE [dbo].[PlanificacionTransaccion_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK_PlanificacionTransaccion_Etiqueta_Planificacion_Transaccion] FOREIGN KEY([ID_Planificacion_Transaccion])
REFERENCES [dbo].[Planificacion_Transaccion] ([ID_Planificacion_Transaccion])
GO
ALTER TABLE [dbo].[PlanificacionTransaccion_Etiqueta] CHECK CONSTRAINT [FK_PlanificacionTransaccion_Etiqueta_Planificacion_Transaccion]
GO
ALTER TABLE [dbo].[Plantilla_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Plantilla_Transaccion_Caracteristica] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[Plantilla_Transaccion] CHECK CONSTRAINT [FK_Plantilla_Transaccion_Caracteristica]
GO
ALTER TABLE [dbo].[Plantilla_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Plantilla_Transaccion_Expresion_Cabecera] FOREIGN KEY([ID_Monto_Expresion])
REFERENCES [dbo].[Expresion] ([ID_Expresion])
GO
ALTER TABLE [dbo].[Plantilla_Transaccion] CHECK CONSTRAINT [FK_Plantilla_Transaccion_Expresion_Cabecera]
GO
ALTER TABLE [dbo].[Plantilla_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Plantilla_Transaccion_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Plantilla_Transaccion] CHECK CONSTRAINT [FK_Plantilla_Transaccion_Usuario]
GO
ALTER TABLE [dbo].[PlantillaTransaccion_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK_PlantillaTransaccion_Etiqueta_Etiqueta] FOREIGN KEY([ID_Etiqueta])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[PlantillaTransaccion_Etiqueta] CHECK CONSTRAINT [FK_PlantillaTransaccion_Etiqueta_Etiqueta]
GO
ALTER TABLE [dbo].[PlantillaTransaccion_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK_PlantillaTransaccion_Etiqueta_Plantilla_Transaccion] FOREIGN KEY([ID_Plantilla_Transaccion])
REFERENCES [dbo].[Plantilla_Transaccion] ([ID_Plantilla_Transaccion])
GO
ALTER TABLE [dbo].[PlantillaTransaccion_Etiqueta] CHECK CONSTRAINT [FK_PlantillaTransaccion_Etiqueta_Plantilla_Transaccion]
GO
ALTER TABLE [dbo].[Presupuesto]  WITH CHECK ADD  CONSTRAINT [FK_Presupuesto_Expresion_Cabecera] FOREIGN KEY([ID_Condicion_Expresion])
REFERENCES [dbo].[Expresion] ([ID_Expresion])
GO
ALTER TABLE [dbo].[Presupuesto] CHECK CONSTRAINT [FK_Presupuesto_Expresion_Cabecera]
GO
ALTER TABLE [dbo].[Presupuesto]  WITH CHECK ADD  CONSTRAINT [FK_Presupuesto_FrecuenciaInicio] FOREIGN KEY([ID_Lapso_Frecuencia])
REFERENCES [dbo].[FrecuenciaInicio] ([ID_FrecuenciaInicio])
GO
ALTER TABLE [dbo].[Presupuesto] CHECK CONSTRAINT [FK_Presupuesto_FrecuenciaInicio]
GO
ALTER TABLE [dbo].[Presupuesto]  WITH CHECK ADD  CONSTRAINT [FK_Presupuesto_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Presupuesto] CHECK CONSTRAINT [FK_Presupuesto_Usuario]
GO
ALTER TABLE [dbo].[Presupuesto]  WITH CHECK ADD  CONSTRAINT [FK_Presupuesto_Variable] FOREIGN KEY([ID_Variable_Supervisada])
REFERENCES [dbo].[Variable] ([ID_Variable])
GO
ALTER TABLE [dbo].[Presupuesto] CHECK CONSTRAINT [FK_Presupuesto_Variable]
GO
ALTER TABLE [dbo].[Recordatorio]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorio_FrecuenciaInicio] FOREIGN KEY([ID_FrecuenciaInicio])
REFERENCES [dbo].[FrecuenciaInicio] ([ID_FrecuenciaInicio])
GO
ALTER TABLE [dbo].[Recordatorio] CHECK CONSTRAINT [FK_Recordatorio_FrecuenciaInicio]
GO
ALTER TABLE [dbo].[Recordatorio]  WITH CHECK ADD  CONSTRAINT [FK_Recordatorio_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Recordatorio] CHECK CONSTRAINT [FK_Recordatorio_Usuario]
GO
ALTER TABLE [dbo].[SesionTrack]  WITH CHECK ADD  CONSTRAINT [FK_SesionTrack_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[SesionTrack] CHECK CONSTRAINT [FK_SesionTrack_Usuario]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Caracteristica] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Caracteristica]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Cuenta] FOREIGN KEY([ID_Cuenta])
REFERENCES [dbo].[Cuenta] ([ID_Cuenta])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Cuenta]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Expresion_Cabecera] FOREIGN KEY([ID_Monto_Expresion])
REFERENCES [dbo].[Expresion] ([ID_Expresion])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Expresion_Cabecera]
GO
ALTER TABLE [dbo].[Transaccion_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Etiqueta_Etiqueta] FOREIGN KEY([ID_Etiqueta])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[Transaccion_Etiqueta] CHECK CONSTRAINT [FK_Transaccion_Etiqueta_Etiqueta]
GO
ALTER TABLE [dbo].[Transaccion_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Etiqueta_Transaccion] FOREIGN KEY([ID_Transaccion])
REFERENCES [dbo].[Transaccion] ([ID_Transaccion])
GO
ALTER TABLE [dbo].[Transaccion_Etiqueta] CHECK CONSTRAINT [FK_Transaccion_Etiqueta_Transaccion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Configuracion_Usuario] FOREIGN KEY([ID_Configuracion_Usuario])
REFERENCES [dbo].[Configuracion_Usuario] ([ID_Configuracion_Usuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Configuracion_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Familia_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Usuario_Familia] CHECK CONSTRAINT [FK_Usuario_Familia_Familia]
GO
ALTER TABLE [dbo].[Usuario_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Familia_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Usuario_Familia] CHECK CONSTRAINT [FK_Usuario_Familia_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Patente_Patente] FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente] ([ID_Patente])
GO
ALTER TABLE [dbo].[Usuario_Patente] CHECK CONSTRAINT [FK_Usuario_Patente_Patente]
GO
ALTER TABLE [dbo].[Usuario_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Patente_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Usuario_Patente] CHECK CONSTRAINT [FK_Usuario_Patente_Usuario]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Caracteristica] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Caracteristica]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Caracteristica1] FOREIGN KEY([ID_Etiqueta])
REFERENCES [dbo].[Caracteristica] ([ID_Caracteristica])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Caracteristica1]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Cuenta] FOREIGN KEY([ID_Cuenta])
REFERENCES [dbo].[Cuenta] ([ID_Cuenta])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Cuenta]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Lapso] FOREIGN KEY([ID_Lapso])
REFERENCES [dbo].[Lapso] ([ID_Lapso])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Lapso]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Planificacion_Transaccion] FOREIGN KEY([ID_Planificacion_Transaccion])
REFERENCES [dbo].[Planificacion_Transaccion] ([ID_Planificacion_Transaccion])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Planificacion_Transaccion]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Plantilla_Transaccion] FOREIGN KEY([ID_Plantilla_Transaccion])
REFERENCES [dbo].[Plantilla_Transaccion] ([ID_Plantilla_Transaccion])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Plantilla_Transaccion]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Transaccion] FOREIGN KEY([ID_Transaccion])
REFERENCES [dbo].[Transaccion] ([ID_Transaccion])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Transaccion]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_Variable_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_Variable_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_limpieza_expresiones]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ezequiel Amorosino>
-- Create date: <9/1/2022>
-- Description:	<Limpia las expresiones en desuso (obsoletas)>
-- =============================================
CREATE PROCEDURE [dbo].[sp_limpieza_expresiones]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	declare @ids_expresiones_obsoletas table (id_auto int identity(1,1), id_expr uniqueidentifier)

    INSERT INTO @ids_expresiones_obsoletas SELECT ID_Expresion FROM Expresion
	WHERE NOT EXISTS (
                   SELECT * 
                     FROM Transaccion AS T1
                    WHERE T1.ID_Monto_Expresion = Expresion.ID_Expresion
					)
	AND NOT EXISTS (
    SELECT * 
        FROM Planificacion_Transaccion AS T1
    WHERE T1.ID_Monto_Expresion = Expresion.ID_Expresion
	)
	AND NOT EXISTS (
    SELECT * 
        FROM Plantilla_Transaccion AS T1
    WHERE T1.ID_Monto_Expresion = Expresion.ID_Expresion
	)
	AND NOT EXISTS (
    SELECT * 
        FROM Presupuesto AS T1
    WHERE T1.ID_Condicion_Expresion = Expresion.ID_Expresion
	);

	select * from @ids_expresiones_obsoletas 

	--ANTES DE ELIMINAR LAS EXPRESIONES, DEBO ELIMINAR LAS VARIABLES QUE POSEEN
	declare @ids_variables_obsoletas table (id_auto int identity(1,1), id_var uniqueidentifier)

	INSERT INTO @ids_variables_obsoletas SELECT ID_Variable FROM Expresion_Variable
	WHERE ID_Expresion IN (select id_expr from @ids_expresiones_obsoletas)

	DELETE FROM Expresion_Variable WHERE ID_Expresion IN (select id_expr from @ids_expresiones_obsoletas)
	
	DELETE FROM Variable WHERE ID_Variable IN (select id_var from @ids_variables_obsoletas)

	DELETE FROM Expresion WHERE ID_Expresion IN (select id_expr from @ids_expresiones_obsoletas)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_limpieza_expresiones_y_variables]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ezequiel Amorosino>
-- Create date: <9/1/2022>
-- Description:	<Limpia las expresiones y variables en desuso (obsoletas)>
-- =============================================
CREATE PROCEDURE [dbo].[sp_limpieza_expresiones_y_variables]
AS
BEGIN
	exec sp_limpieza_variables
	exec sp_limpieza_expresiones
END
GO
/****** Object:  StoredProcedure [dbo].[sp_limpieza_variables]    Script Date: 14/7/2024 16:23:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ezequiel Amorosino>
-- Create date: <9/1/2022>
-- Description:	<Limpia las variables en desuso (obsoletas)>
-- =============================================
CREATE PROCEDURE [dbo].[sp_limpieza_variables]
AS
BEGIN
	declare @ids_variables_obsoletas table (id_auto int identity(1,1), id_var uniqueidentifier)

    INSERT INTO @ids_variables_obsoletas SELECT ID_Variable FROM Variable
	WHERE NOT EXISTS (
                   SELECT * 
                     FROM Presupuesto AS T1
                    WHERE T1.ID_Variable_Supervisada = Variable.ID_Variable
					)
	AND NOT EXISTS (
    SELECT * 
        FROM Expresion_Variable AS T1
    WHERE T1.ID_Variable = Variable.ID_Variable
	);
					
	select * from @ids_variables_obsoletas 

	delete from Variable where ID_Variable IN (select id_var from @ids_variables_obsoletas)
END
GO
